@import url("/public/fonts/Golos-Text/Golos-Text_Regular.css");

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
html, body {
  height: 100%;
}

main{
  width: 100%;
  height: 100%;
}

