@import url('/public/fonts/Golos-Text/Golos-Text_Regular.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body, #root {
    overflow-x: hidden;
    height: 100vh !important; /* Используй viewport height */
    width: 100vw !important;  /* Используй viewport width */
}
* {
    transition:
            background-color 0.7s ease,
            color 0.7s ease,
            border-color 0.7s ease,
            box-shadow 0.7s ease;
}